@font-face {
  font-family: 'AllianzNeoW04-Light';
  src: url("fonts/AllianzNeoW04-Light.woff") format("woff");
  font-weight: 200; }

@font-face {
  font-family: 'AllianzNeoW04-Regular';
  src: url("fonts/AllianzNeoW04-Regular.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'AllianzNeoW02-SemiBold.woff';
  src: url("fonts/AllianzNeoW02-SemiBold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'AllianzNeoW04-Bold.woff';
  src: url("fonts/AllianzNeoW04-Bold.woff") format("woff");
  font-weight: 800; }

html {
  font-size: 16px;
  line-height: 1.4;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga', 'clig';
  font-feature-settings: 'liga' 1, 'dlig' 1, 'clig' 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  hyphens: auto; }

body {
  font-family: "AllianzNeoW04-Regular", sans-serif;
  text-rendering: optimizeLegibility;
  font-style: normal;
  color: #000; }

output {
  width: 5rem; }
  output::after {
    content: '\2009px'; }
  output[name="fs-clicked"]::after {
    content: none; }

button {
  font-size: 1rem;
  padding: .35rem .75rem; }

p::after {
  content: 'AllianzNeoW04-Regular'; }

p.size-rem {
  font-size: 1rem; }

p.size-pt {
  font-size: 10pt; }

p.size-px {
  font-size: 14px; }

p::after {
  color: silver;
  margin-left: .5rem; }

p.az-light {
  font-family: 'AllianzNeoW04-Light'; }
  p.az-light::after {
    content: 'AllianzNeoW04-Light' !important; }

p.local-font {
  font-family: 'Allianz Neo';
  font-weight: 400; }
  p.local-font::after {
    content: 'Allianz Neo Local' !important; }

p.arial {
  font-family: Arial; }
  p.arial::after {
    content: 'Arial' !important; }

p.segoe {
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif; }
  p.segoe::after {
    content: 'Segoe UI or "sans-serif"' !important; }
