:root {
  --dark: hsla(0, 0%, 5%, 1);
  --light: hsla(0, 0%, 95%, 1);
}
.night-mode {
  --dark: hsla(0, 0%, 95%, 1);
  --light: hsla(0, 0%, 5%, 1);
}



:root {
  --dark: hsla(0, 0%, 5%, 1);
  --light: hsla(0, 0%, 95%, 1);
}
.night-mode {
  filter: invert(100%);
}



border-image: repeating-linear-gradient(-25deg,transparent,transparent 0.333rem, var(--dark) 0, var(--dark) 0.666rem) 25;


<img src="" loading="lazy" />

form:focus-within {
    
}