%settings-typo {
  line-height: 1.4;
  
  // https://helpx.adobe.com/de/typekit/using/open-type-syntax.html
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga', 'clig';
  font-feature-settings: 'liga' 1, 'dlig' 1, 'clig' 1;

  // text rendering https://css-tricks.com/almanac/properties/t/text-rendering/

  // scss-lint:disable no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // scss-lint:enable no-vendor-prefixes
}

%settings-headline {
  font-size: 1rem;
  font-weight: normal;
}

%settings-spacing {
  font-feature-settings: 'kern';
  font-kerning: normal;
  letter-spacing: .3;
}


// R E S E T
@for $level from 1 through 6 {
  h#{$level} {
    @extend %settings-headline;
  }
}

.coc-hl--style-01 {
  font-size: 2.441rem;
}

.coc-hl--style-02 {
  font-size: 1.953rem;
}

.coc-hl--style-03 {
  font-size: 1.563rem;
}

.coc-hl--style-04 {
  font-size: 1.250rem;
}


// D E F I N E   F O N T
html {
  @if $brand-fonts == true {
    font-family: $font-stack-brand;
	} else {
    font-family: $font-stack-system;
	}

	hyphens: auto;

  color: $text-color;
	line-height: 1.6;

	background-color: #fff;
  @extend %settings-typo;
}


table {
 // enable specific table numbers (if available)
 font-variant-numeric: tabular-nums;
 font-feature-settings: "tnum";
}
