// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
// approach by Karl Merkli:
// usage:
// @include rem-fallback(margin, 10, 20, 30, 40);
// result:
// margin: 160px 320px 480px 640px;
// margin: 10rem 20rem 30rem 40rem;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}


@mixin full-size-img-fix {
  // ’cause of full size image
  position: relative;
  z-index: 2;
}


// css clearfix mixin from http://blog.teamtreehouse.com/a-better-clearfix-with-sass
// usage: @extend .clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}


// http://unobfuscated.blogspot.de/2015/01/updated-offscreen-techniques.html
@mixin screen-reader-text {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}


// put it in a:after {}
// example: @mixin accesskey($color-3, $border-style-02, .25)

@mixin accesskey($color, $border-style, $space) {
	content: "(Taste " attr(accesskey) ")";
	// content: attr(accesskey);
	@include rem-fallback(margin-left, $space);
	@include rem-fallback(padding-left, $space);
	@include rem-fallback(padding-left, $space);
	@include rem-fallback(font-size, .8);
	text-transform: uppercase;
	color: $color;
	border: $border-style;
}

@keyframes target_animation {
  0% { background-color: $color-2; }
  100% { background-color: white; }
}

// TEST
// &:target {
//   animation: target_animation 1.5s ease;
// }
// END TEST
