// enable jeet debug mode
@include edit();

#dev-colors {
	display: block;
}

#fsp-dev {
	display: block;
	background-color: #f6f6f6;
	border-bottom: 1px solid $color-1;
}
	#fsp-mq:after {
		content: 'no-mq';

		@media (min-width: $mq-small) {
			content: 'mq-small';
		}

		@media (min-width: $mq-medium) {
			content: 'mq-medium';
		}
		@media (min-width: $mq-large) {
			content: 'mq-large';
		}
		@media (min-width: $mq-xlarge) {
			content: 'mq-xlarge';
		}
	}

	.fsp-is-touch #fsp-touch:after {
		content: 'is touch';
	}

	.fsp-no-touch #fsp-touch:after {
		content: 'no touch';
	}
