@if $brand-fonts == 'true' {
  @font-face {
    font-family: 'AllianzNeoW04-Regular';
    src: url('AllianzNeo_web/AllianzNeoW04-Regular.woff') format('woff');
    font-weight: normal;
  }
  @font-face {
    font-family: 'AllianzNeoW02-SemiBold.woff';
    src: url('AllianzNeo_web/AllianzNeoW02-SemiBold.woff') format('woff');
    font-weight: 600;
  }
  @font-face {
    font-family: 'AllianzNeoW04-Bold.woff';
    src: url('AllianzNeo_web/AllianzNeoW04-Bold.woff') format('woff');
    font-weight: 800;
  }
}
