header {
  background-color: $color-1;

  @media (min-width: $mq-medium) {
    background: linear-gradient(to right, $color-1 50%, $color-3 85%);
  }

}

  .header--wrapper {
    overflow: hidden;
  }

// logo 252px, 171px, 3x 232px

.header--item-wrapper {
  line-height: 0;
  width: 1500px;
}

  .header--item {
    display: inline-block;
    height: 120px;
    background-size: cover;
    background-position: center;
  }

  .header--item-portrait {
    width: 170px;
  }

  .header--item-01,
  .header--item-02,
  .header--item-03 {
    width: 230px;
  }


#logo {
  display: inline-block;
  width: 200px;
  transition: .5s;

  & > svg {
    width: 100%;
    height: 120px;
  }
  // logo svg elements
  // #logo--wrapper {}
  // #logo--bgr {}
  // #logo--claim {}
  // #logo--name {}

  #logo--bgr {
    fill: $color-1;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    transform: translate(-10px, 0) rotate(-2deg) scale(1.1);
    // transform: translate(-30px, 0) rotate(-.5deg) scale(1.05);

    #logo-bgr {
      fill: lighten($color-1, 20%);
    }

    #logo--name,
    #logo--claim {
      // fill: $color-4;
    }
  }
}


@media (max-width: ($mq-small - 1) ) {

  .header--item-portrait {
    // display: inline-block;
  }

}

@media (min-width: $mq-small) {

  .header--item-portrait {
    // display: inline-block;
    // width: 40%;
  }

}

@media (min-width: $mq-medium) {

  .header--item-portrait {
    // width: 21%;
  }

  .header--item-03 {
    // display: inline-block;
    // width: 30%;
  }

}

@media (min-width: $mq-large) {

  .header--item-portrait {
    // width: 18%;
  }

  .header--item-01 {
    // display: inline-block;
  }

  .header--item-01,
  .header--item-03 {
    // width: 22%;
  }
}
@media (min-width: $mq-xlarge) {

  .header--item-portrait {
    // width: 16%;
  }

  .header--item-02 {
    // display: inline-block;
  }

  .header--item-01,
  .header--item-02,
  .header--item-03 {
    // width: 19%;
  }
}
