$site-max-width: 1100px; // ca.1100px;
$element-padding: 2%;


/**
 * S M A L L   B A S I C   L A Y O U T
 */
// body {}
// nav.navigation {}
// header {}

nav,
.header--wrapper,
#page-wrapper,
footer {
	@include center($max_width: 1100px, $pad: 3%);
}

nav {
	padding: 0;
}

#page-wrapper,
footer {
	@include rem-fallback(margin-top, 2);
}

main {
	.module.is-teaser {
		@include rem-fallback(margin-top, 2);
	}
}



/**
* M E D I U M   B A S I C   L A Y O U T
*/
@media (min-width: $mq-medium) {
	$element-padding: 1%;

		nav {
			padding-left: 3%;
			padding-right: 3%;
		}

		main {
			@include clearfix();
		}

}


@media (max-width: ($mq-large - 1)) {

	aside {
		@include rem-fallback(margin-top, 2);
		background-color: lighten($color-3, 45);
	}

}



/**
 * L A R G E   B A S I C   L A Y O U T
 */
@media (min-width: $mq-large) {
	$element-padding: 2%;

	main {
		@include span(72/100);
		margin-right: 3%;
	}

	aside {
		@include span(25/100);
	}

}



/**
 * E X T R A L A R G E   B A S I C   L A Y O U T
 */
 @media (min-width: $mq-xlarge) {

	 main {
		 @include span(71/100);
		 margin-right: 2.5%;
	 }

 }
