//
// S M A L L   B A S I C   L A Y O U T
//
.kontakt {

  figure {
    &.kontakt {
      max-width: 19rem;
    }
  }

}



//
// M E D I U M   B A S I C   L A Y O U T
//
@media (min-width: $mq-medium) {

  // 	.kontakt {
  // 	  @include clearfix();
  // 	.content {
  // 		@include span(3/4);
  // 		@include rem-fallback(padding-right, 2);
  // 	}
  // 	figure.kontakt {
  // 		margin-top: 0;
  // 		@include span(1/4);
  // 	}
  // }

}



//
// L A R G E   B A S I C   L A Y O U T
//
@media (min-width: $mq-large) {

  .kontakt {
    .fb-page {
      margin: 0 auto;
    }
    .fb_iframe_widget { // No lint report
      display: block;
    }
  }

}



//
// E X T R A L A R G E   B A S I C   L A Y O U T
//
@media (min-width: $mq-xlarge) {

  .kontakt {
    .content-wrapper,
    .fb-page {
      @include column(1/2);
    }

    .fb-page {
      margin: 0;
    }

    .fb-page > span {
      width: 99% !important; // No lint reported
      margin: 0 !important; // No lint reported
    }
  }

}
