// module media slider

.slideshow--wrapper {
	// AnySlider plugin Bare minimum styles
	-ms-touch-action: pan-y; /* Prevent default touch actions on Windows 8. Only required for IE10 */
	touch-action: pan-y; /* Prevent default touch actions on Windows 8. Supported in IE11+ */

	overflow: auto; /* Not required but recommended for accessibility when JavaScript is turned off */
	position: relative;

	margin-bottom: 1rem;
}

.as-slide-inner {
	padding-top: 60%;
	background-color: lighten(red, 30%);

	img {
		max-width: 100%;
		height: auto;
	}

	@media (min-width: $mq-small) {
		padding-top: 60%;
	}

	// @media (min-width: $mq-medium) {
	// 	padding-top: 40%;
	// }
	//
	// @media (min-width: $mq-large) {}
	}
	// from layout.scss
	figure {}
		picture {}
		figcaption {}


/* The arrows can of course also be styled to your liking. This is just example styles */
.as-prev-arrow,
.as-next-arrow {
	background-color: lighten(green, 30%);

	// display: none;

	position: absolute;
	z-index: 100;
	width: 2rem;
	height: 2rem;
	top: 50%;

	cursor: pointer;

	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;

	filter: alpha(opacity=.3);
	opacity: .3;
	transition: opacity .5s ease-in;
}

	.as-prev-arrow {
		left: 0;
	}

	.as-next-arrow {
		right: 0;
	}

	.slideshow--wrapper:hover .as-prev-arrow,
	.slideshow--wrapper:hover .as-next-arrow {
		filter: alpha(opacity=1);
		opacity: 1;
	}

/* The same rules for styling apply here. Style to your liking */
.as-nav {
	display: none;

	// .as-active,
	// a:hover {}

	a {
		&.as-active {}
		&hover {}
	}
}
