/*
  Accessible Accordion demo with ARIA & Tabbing by Chris Yaxley
  http://codepen.io/chrisyaxley/pen/JsKhb
*/

/*section*/.accordion {
	@include rem-fallback(margin-top, 2);
	@include rem-fallback(margin-bottom, 1);

	article {
		border-bottom: 1px solid $color-1;
	}
}

	/* accordion headers */
	.accordion--title {
		position: relative;

		display: block;
		margin: 0;
		cursor: pointer;

		transition: padding-left .2s ease-out;

		h2, h3 {
			@include rem-fallback(padding-left, 0.2);
			@include rem-fallback(padding-top, 0.5);
			@include rem-fallback(padding-bottom, 0.5);
			margin-top: 0;
			margin-bottom: 0;
		}

		&:after {
			content: "";
			@include rem-fallback(height, .75);
			@include rem-fallback(width, .75);

			background: url(images/arrow.svg) 0 0 no-repeat;
			background-size: contain;

			transform: rotate(0deg);
			transition: transform .2s ease-out;

			position: absolute;
			@include rem-fallback(top, 1);
			@include rem-fallback(right, .5);
		}

		&.open,
		&:focus {
			outline: 0;
			background-color: lighten($color-2, 7%); // CCA 8,6:1
			color: $link-color-hover;
			padding-left: 2%;
			transition: padding-left .2s ease-out;

			&:after {
				transform: rotate(90deg);
				transition: transform .2s ease-out;
			}
		}

		&:focus {}
	}

	/* collapse all content section if JS is enabled */
	.js .accordion--content {
		// TODO: you can safely use display:none as long as you also add aria-hidden="false". --> http://codepen.io/chrisyaxley/details/JsKhb#comment-id-132695
	  display: none;
	}

	.accordion--content {
		padding: 2%;

		figure {
			/**
			* M E D I U M   B A S I C   L A Y O U T
			*/
			@media (min-width: $mq-medium) {}

			@media (max-width: ($mq-large - 1)) {
				// TODO: max-width for figure
				width: 60%;
				margin-left: auto;
			}



			/**
			 * L A R G E   B A S I C   L A Y O U T
			 */
			@media (min-width: $mq-large) {
				float: right;
			}



			/**
			 * E X T R A L A R G E   B A S I C   L A Y O U T
			 */
			@media (min-width: $mq-xlarge) {}
		}

		figcaption {
			font-size: 90%;
		}
	}
