// module media slider

.sponsors {}
/*a*/.sponsors--item {
	display: inline-block;
	width: 49%;
	margin: 0 !important;

	text-align: center;
	text-decoration: none;

	&:hover,
	&:focus {
		// TODO: Focus Style
		// background-color: red;
	}
}
/*img*/.sponsors--item-image {
	max-width: 100px;
	vertical-align: middle;
}
