.opening-hours--wrapper {

  time {
    display: table;
    width: 100%;

    &:hover {
      background-color: lighten($color-2, 7%);
    }

    span {

      &.weekday-long,
      &.weekday-short {
        @include rem-fallback(padding-right, .5);

        &:after {
          content: ':';
        }
      }
        &.weekday-long {
          @include rem-fallback(width, 6);
        }
        &.weekday-short {
          @include rem-fallback(width, 2);
        }

      &.time-output {
        display: table-cell;
      }

      /* display: short weekday */
      // @media (max-width: ($mq-xsmall - 1)),
      //        (min-width: $mq-medium) and (max-width: ($mq-xlarge - 1)) {
      @media (max-width: ($mq-xsmall - 1)),
             (min-width: $mq-medium) {
        &.weekday-long { display: none }
        &.weekday-short { display: table-cell }
      }
      /* display: long weekday */
      @media (min-width: $mq-xsmall) and (max-width: ($mq-medium - 1)), print {
        &.weekday-long { display: table-cell }
        &.weekday-short { display: none }
      }

    }
  }

  p {
    @include rem-fallback(margin-top, .5);
  }

}
