.module.success {

	h2 {}
	p {}
	.success-item-wrapper {

		li:last-child {
			margin-bottom: 0;
		}
	}
	.success--goals {}

	.teaser--link {
		display: block;
		text-align: right;
		@include rem-fallback(margin-top, .5);
		@include rem-fallback(margin-bottom, .5);
	}

	&.is-content {
		@include rem-fallback(margin-top, 2);
		@include rem-fallback(padding-top, .5);
		@include rem-fallback(padding-bottom, .5);

		h2 {
			border-bottom: 2px solid lighten($color-3, 30);
			@include rem-fallback(padding-bottom, .5);
		}

		p {
			@include rem-fallback(padding-bottom, 1);
		}

		.success-item-wrapper {

			// @media (min-width: $mq-small) {}
			@media (max-width: ($mq-medium - 1) ) {
				max-width: 25rem;
				margin-right: auto;
				margin-left: auto;
			}
			@media (min-width: $mq-medium) {
				columns: 2 10em;
				column-gap: 1em;
				// column-rule: 1px dotted $color-3;

				h3,
				p {
					column-span: all;

				}
			}
		}

		// @media (min-width: $mq-small) {}
		// @media (max-width: ($mq-medium - 1) ) {}
		// @media (min-width: $mq-medium) {}
		// @media (min-width: $mq-medium), print {}
		// @media (min-width: $mq-large) {}
		// @media (min-width: $mq-xlarge) {}

	}

}
