/*nav*/.nav--faq {
  counter-reset: faq_nav;
	counter-reset: faq_head;

  li {
		counter-increment: faq_nav;

		&::before {
	    content: counter(faq_nav) ". ";
			color: $color-4;

			display: inline-block;
			@include rem-fallback(width, 1.75);
			text-align: right;
			margin-right: 5px;
	  }

	}

}

/*body*/.faq {
}

/*body*/.faq h2 {
	@include rem-fallback(margin-top, 2);

	counter-increment: faq_head;

	& span:before {
		content: counter(faq_head) ". ";
	}

	&:target:before {
		content: "";
		display: block;
		height: ($header-height * 1.5);
		margin: -$header-height 0 0;
	}
}


.link--top {
	display: block;
	@include rem-fallback(margin-top, .5);

	text-align: center;
  text-decoration: none;

  @extend .link--grey;
}

// Accessible Accordian Class Pure JS / CSS Works in IE9+
// https://github.com/benbowes/Accessible-Accordian-Class-Pure-JS-CSS

$accordion-panel--border: 3px;
$accordion-panel--border-color: $color-5;
$accordion-panel--color: $color-3;
$accordion-panel--fx-speed: .2s;

.faq .content-wrapper {
	text-align: left;
	// avoid margin collapsing
	overflow: hidden;
}

.accordion {
	overflow: hidden;
}

	.accordion-panel__heading {
		position: relative;
		display: block;
		@include rem-fallback(padding-top, .5);
		@include rem-fallback(padding-right, 2);
		@include rem-fallback(padding-bottom, .5);
		border-bottom: 2px solid $accordion-panel--border-color;
		cursor:pointer;

		text-decoration: none;
		// color: $link-color-hover;
		color: $text-color;

		transition: all $accordion-panel--fx-speed;

		span {
			position: absolute;
			right: 0;
			width: 25px;
			height: 25px;
			background: url(/images/icon-arrow-collapsable.opt.svg) center center /55% no-repeat;
			transform: rotate(0deg);
			transition: transform .2s ease-out;
		}

    &:hover {
      text-decoration: none;
      color: $text-color;
    }


		&.active {
			// border-color: #fff;

			span {
				transform: rotate(180deg);
			}
		}

		&:hover {
			transition: all $accordion-panel--fx-speed;
		}

	}




.accordion-panel__content {
	position: relative;
	max-height: 0;
  overflow: hidden;

  background-color: $hint_bgr_color;
  @include rem-fallback(padding-left, .5);
  @include rem-fallback(padding-right, .5);

	// padding for simple animation fx
	@include rem-fallback(padding-top, 0);
	@include rem-fallback(padding-bottom, 0);

	transition: all $accordion-panel--fx-speed;

	&.active {
		max-height: 650px;

		@include rem-fallback(padding-top, .5);
		@include rem-fallback(padding-bottom, .5);

		transition: all $accordion-panel--fx-speed;
	}

  & p {
		@include rem-fallback(margin-top, 0);
		@include rem-fallback(margin-bottom, 0);
  }

  & p + p {
		@include rem-fallback(margin-top, .5);
  }

  & > h1, h2, h3, h4, p, ~ p, p + ul {
		@include rem-fallback(margin-top, 0);
  }

  p:last-child,
  ul:last-child {
		@include rem-fallback(margin-bottom, 0);
  }

  p > a[href*="//"]:not([href*="liz.fidor.de"]),
  p > a[href*="//"]:not([href*="o2.fidor.de"]) {
    display: inherit;
    width: 100%;
    overflow: auto;
    text-overflow: ellipsis;
  }

  ul {
    list-style-type: circle;
  }
    li {
      @include rem-fallback(margin-left, 1);
    }

}
