@media print {

	nav[role=navigation],
	footer {
		display: none;
	}

	// @page is not supported in Firefox, but supported in Chrome 2.0+, IE 8.0+, Opera 6.0+ and Safari 5.0+
	@page {
		margin-left: 2.5cm;
	}

	// @page :first is supported only in IE8+ and Opera 9.2+
	@page :first {}

}
