/*
Notes:

- This @font-face syntax is based on http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax

- The webfont file names and the font-family name can be changed without a problem.

- The font-family name should not be identical to the desktop version,
  so when testing the web page, we can be sure that the font used used by our browser is the webfont
  and not the desktop font that might be installed on our computer.

- The TTFs should be served gzipped if possible.
*/

/* Regular */
// http://www.gerardunger.com/allmytypedesigns/allmytypedesigns21.html
@font-face {
  font-family: 'AllianzSansWeb';
  src: url('fonts/ALSANREG.eot');
  src: url('fonts/ALSANREG.eot?#iefix') format('embedded-opentype'),
       url('fonts/ALSANREG.woff') format('woff'),
       url('fonts/ALSANREG.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Italic */
@font-face {
  font-family: 'AllianzSansWeb';
  src: url('ALSANITA.eot');
  src: url('ALSANITA.eot?#iefix') format('embedded-opentype'),
       url('ALSANITA.woff') format('woff'),
       url('ALSANITA.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}
/* Bold */
@font-face {
  font-family: 'AllianzSansWeb';
  src: url('fonts/ALSANBOL.eot');
  src: url('fonts/ALSANBOL.eot?#iefix') format('embedded-opentype'),
       url('fonts/ALSANBOL.woff') format('woff'),
       url('fonts/ALSANBOL.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Bold Italic */
@font-face {
  font-family: 'AllianzSansWeb';
  src: url('fonts/ALSANBIT.eot');
  src: url('fonts/ALSANBIT.eot?#iefix') format('embedded-opentype'),
       url('fonts/ALSANBIT.woff') format('woff'),
       url('fonts/ALSANBIT.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Light */
/* Note: this is not style-linked to AllianzSansWeb */
@font-face {
  font-family: 'AllianzSansWeb-Light';
  src: url('fonts/ALSANLIG.eot');
  src: url('fonts/ALSANLIG.eot?#iefix') format('embedded-opentype'),
       url('fonts/ALSANLIG.woff') format('woff'),
       url('fonts/ALSANLIG.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Light Italic */
/* Note: this is not style-linked to AllianzSansWeb but as italic to AllianzSansWeb-Light */
@font-face {
  font-family: 'AllianzSansWeb-Light';
  src: url('fonts/ALSANLIT.eot');
  src: url('fonts/ALSANLIT.eot?#iefix') format('embedded-opentype'),
       url('fonts/ALSANLIT.woff') format('woff'),
       url('fonts/ALSANLIT.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}


/*
 * start basic styles — replace with you own
*/
$main-color: rgb(17,51,136);


html {
  font-size: 14px;
  line-height: 1.4;
}


body {
  font-family: "AllianzSansWeb", sans-serif;
  text-rendering: optimizeLegibility; /* This activates kerning in Safari */
  font-style: normal;
  color: rgb(68, 68, 68);
}

output {
  width: 5rem;
  // border-bottom: 1px solid #444;
  &::after {
    content: '\2009px'; // thinsp; + px
  }

  &[name="fs-clicked"] {
    &::after {
      content: none;
    }
  }
}

button {
  font-size: 1rem;
  padding: .35rem .75rem;
}

p {

  &::after {
    color: $main-color;
    margin-left: .5rem;
  }


  &.as-light {
    font-family: 'AllianzSansWeb-Light';
    &::after {
      content: 'AllianzSansWeb-Light' !important;
    }
  }

  &.calibri {
    font-family: 'Calibri';
    &::after {
      content: 'Calibri' !important;
    }
  }

  &.arial {
    font-family: Arial;
    &::after {
      content: 'Arial' !important;
    }
  }

  &.segoe {
    font-family: 'Segoe UI';
    &::after {
      content: 'Segoe UI' !important;
    }
  }

  &.verdana {
    font-family: Verdana;
    &::after {
      content: 'Verdana' !important;
    }
  }
  // new fonts for relaunch
  &.proxima {
    font-family: 'Proxima Nova';
    &::after {
      content: 'Proxima Nova' !important;
    }
  }

  &.gilroy {
    font-family: 'Gilroy';
    &::after {
      content: 'Proxima Nova' !important;
    }
  }

  &.mark {
    font-family: 'Mark Offc Pro';
    &::after {
      content: 'Gilroy' !important;
    }
  }
  &.uniform {
    font-family: 'Uniform';
    &::after {
      content: 'Uniform' !important;
    }
  }

  &.size10 {
    font-size: 1rem;
    &::after {
      content: 'AllianzSansWeb';
    }
  }
}

.font-samples {
  p {
    &::before {
      content: 'E aogfli';
      margin-right: .25rem;
    }
  }
}
