/* ========== Colour Variables ========== */

:root {
    color-scheme: light dark;

    --color-bg:     hsl(0, 0%, 94%);
    --color-bg-box: hsl(0, 0%, 75%);
    --color-text:   hsl(0, 0%, 16%);
    --color-link:   hsl(0, 0%, 39%);
}

@media (prefers-color-scheme: dark) {

    :root {
        --color-bg:     hsla(0, 0%, 20%, 1);
        --color-bg-box: rgb(51, 51, 51);
        --color-text:   rgb(217, 217, 217);
        --color-link:   rgb(191, 191, 191);
    }
}

@media (forced-colors) {

    :root {
        --color-bg:     Canvas;
        --color-bg-box: Canvas;
        --color-text:   CanvasText;
        --color-link:   ActiveText;
    }

}

/* ========== Styles ========== */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font: normal 400 100%/1.4 sans-serif;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

fieldset {
    border: 1px solid var(--color-bg-box);
}

h1 {
    font-size: 125%;
}

a {
    color: var(--color-link);
}

code {
    font-size: 90%;
    background-color: var(--color-bg-box);
    padding: .1em .3em;
    border-radius: 3px;
}

button {
    font-size: 100%;
    padding: .25rem;
}

.field {
    margin-bottom: 0.5rem;
}

.field label,
.field input:not([type="checkbox"]) {
    display: block;
}

.field--inline {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

:focus-visible {
    outline: 2px solid var(--color-link);
    outline-offset: 2px;
}
